<section class="py-5">
  <div class="container px-5">
    <h1 class="fw-bolder fs-5 mb-4">{{movie.name}}</h1>
    <div class="card border-0 shadow rounded-3 overflow-hidden">
      <div class="card-body p-0">
        <div class="row gx-0">
          <div class="col-lg-6 col-xl-5 py-lg-5">
            <div class="p-4 p-md-5">
              <p>{{movie.description}}</p>
            </div>
            <div class="p-4 p-md-5">
              <b>Release date:</b>
              <p>{{movie.release_date}}</p>
              <b>Rating:</b>
              <p>
                <star-rating value="{{ movie.rating }}" totalstars="5" checkedcolor="red" uncheckedcolor="black"
                  size="24px" readonly="true"></star-rating>
              </p>
              <b>Ticket Price:</b>
              <p>&#8377; {{movie.ticket_price}}</p>
              <b>Genre:</b>
              <p>{{movie.genre}}</p>
            </div>
          </div>
          <div class="col-lg-6 col-xl-7"><img [src]="apiUrl + movie.photo" height="600" width="400" /> </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-5 bg-light">
  <div class="container px-5">
    <div class="row gx-5">
      <div class="col-xl-8">
        <h2 class="fw-bolder fs-5 mb-4">Comments</h2>
        <div *ngIf="isLogin">
          <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="comment">Comment</label>
              <textarea type="text" formControlName="comment" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.comment.errors }" ></textarea>
              <div *ngIf="submitted && f.comment.errors" class="invalid-feedback">
                <div *ngIf="f.comment.errors.required">Comment is required</div>
              </div>
            </div>
            <div class="form-group">
              <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Save
              </button>
            </div>
          </form>
        </div>
        <!-- News item-->
        <div class="mb-4" *ngFor="let comment of movie.comments">
          <h6>{{comment.name}}</h6>
          <div class="small text-muted">{{comment.createdAt | date:'shortDate'}}</div>
          <p>{{comment.comment}}</p>
        </div>
        <a class="btn btn-primary" *ngIf="loadMore" (click)="getMore()">More..</a>
      </div>
    </div>
  </div>
</section>