<header class="navbar navbar-expand navbar-dark px-4 flex-column flex-md-row">
  <div class="navbar-nav-scroll">
    <ul class="navbar-nav flex-row">
      <li class="nav-item"><a class="nav-link" [routerLinkActive]="['active']" routerLink="/movies">Home</a></li>
    </ul>
  </div>

  <ul class="social-buttons navbar-nav flex-row ml-md-auto d-none d-md-flex align-items-center">
    <li *ngIf="!isLogin" class="nav-item"><a class="nav-link" [routerLinkActive]="['active']"
        routerLink="/login">Login</a></li>
    <li *ngIf="!isLogin" class="nav-item"><a class="nav-link" [routerLinkActive]="['active']"
        routerLink="/register">Register</a></li>
    <li *ngIf="isLogin" class="nav-item">Welcome {{ userName}} </li>
    <li *ngIf="isLogin" class="nav-item"><a class="nav-link" (click)="logout()">Logout</a></li>
  </ul>
</header>