<div class="container">
  <div class="row">
    <div class="col-md-6"><h3 class="pull-left">Movies</h3></div>
    <div class="col-md-6"><a class="btn btn-success " routerLink="/movies/create">Add New Movie</a></div>
  </div>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Photo</th>
    <th scope="col">Country</th>
    <th scope="col">Genre</th>
    <th scope="col">Release date</th>
    <th scope="col">Rating</th>
    <th scope="col">Ticket Price</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let movie of movies" [routerLink]="['/movies', movie._id]">
    <th scope="row">{{ movie.name }}</th>
    <td><img [src]=" apiUrl + movie.photo" class="mr-2" style="width: 20px"></td>
    <td>{{ movie.country}}</td>
    <td>{{ movie.genre }}</td>
    <td>{{ movie.release_date }}</td>
    <td><star-rating value="{{ movie.rating }}" totalstars="5" checkedcolor="red" uncheckedcolor="black" size="24px" readonly="true" ></star-rating></td>
    <td>&#8377; {{ movie.ticket_price }}</td>
  </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshMovies()">
  </ngb-pagination>
</div>
