<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <h2>Add New Movie</h2>
      <form [formGroup]="addMovieForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" formControlName="name" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Name is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea type="text" formControlName="description" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
          <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
            <div *ngIf="f.description.errors.required">Description is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="release_date">Release Date</label>
          <input type="date" formControlName="release_date" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.release_date.errors }" />
          <div *ngIf="submitted && f.release_date.errors" class="invalid-feedback">
            <div *ngIf="f.release_date.errors.required">Release Date is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="ticket_price">Ticket Price</label>
          <input type="number" formControlName="ticket_price" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.ticket_price.errors }" />
          <div *ngIf="submitted && f.ticket_price.errors" class="invalid-feedback">
            <div *ngIf="f.ticket_price.errors.required">Ticket Price is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="country">Country</label>
          <select formControlName="country" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.country.errors }">
            <option *ngFor="let country of countries" value="{{country.name}}">{{country.name}}</option>
          </select>
          <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
            <div *ngIf="f.country.errors.required">Country is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="genre">Genre</label>
          <select formControlName="genre" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.genre.errors }"
            multiple>
            <option *ngFor="let genre of genres" value="{{genre}}">{{genre}}</option>
          </select>
          <div *ngIf="submitted && f.genre.errors" class="invalid-feedback">
            <div *ngIf="f.genre.errors.required">Genre is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="rating">Rating</label>
          <input type="hidden" name="rating" formControlName="rating" class="form-control" value="{{rating}}" [ngModel]="rating" />
          <star-rating value="0" formControlName="rating" totalstars="5" checkedcolor="red" uncheckedcolor="black" size="24px" readonly="false"
            (rate)="onRate($event)" [ngClass]="{ 'is-invalid': submitted && rating === 0 }"></star-rating>
          <div *ngIf="submitted && rating === 0" class="invalid-feedback">
            <div>Rating is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="photo">Photo</label>
          <input type="file" formControlName="photo" class="form-control" accept="image/*"
            [ngClass]="{ 'is-invalid': submitted && f.photo.errors }" (change)="onFileSelect($event)" />
          <div *ngIf="submitted && f.photo.errors" class="invalid-feedback">
            <div *ngIf="f.photo.errors.required">Photo is required</div>
          </div>
        </div>
        <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Add
          </button>
        </div>
      </form>
    </div>
  </div>
</div>